.njpw_header {
  box-sizing: border-box;
  height: 70px;
  width: 100vw;
  border: 1px solid black;
  background-color: #e61a21;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  height: 100%;
  width: 140px;
}

.right_header {
  padding: 20px;
  display: flex;
  justify-content: right;
}

.nickname {
  margin-right: 20px;
  color: black;
  text-decoration: none;
}

.session {
  padding: 10px;
  margin-right: 20px;
  border: 1px solid black;
  border-radius: 10px;
  color: black;
  text-decoration: none;
}

.new_room {
  padding: 10px;
  margin-right: 20px;
  border: 1px solid black;
  border-radius: 10px;
  color: black;
  text-decoration: none;
}

.log_out {
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  color: black;
  text-decoration: none;
}

.registration {
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  color: black;
  text-decoration: none;
}

li {
  list-style: none;
}