<%= render "shared/header" %>
<div class="main">
  <div class="user_show">
    <div class="user_name">
      <%= @user.nickname %>
    </div>
    <% if user_signed_in? && current_user.id == @user.id %>
      <%= link_to "編集", edit_user_registration_path, class: "edit_btn" %>
    <% end %>
    <div class="user_fav">
      <div class="fav_team_title">
        お気に入りのチーム
      </div>
      <div class="fav_team">
        本隊
      </div>
    </div>
    <div class="user_fav">
      <div class="fav_player_title">
        お気に入りの選手
      </div>
      <div class="fav_player">
        棚橋弘至
      </div>
    </div>
  </div>
</div>