<div class="card">
  <%= link_to image_tag(room.image, class: "card__img"), rooms_path(room.id) %>
  <div class="card__body">
      <%= link_to room.name, '#', class: "card_title" %>
    <p class="card__summary">
      <%= room.text %>
    </p>
    <%= link_to "by " + room.user.nickname, user_path(room.user.id), class: "card__user" %>
  </div>
</div>