<%= render "shared/header" %>
<div class="rooms_show_main">
  <div class="match_card"></div>
  <div class="center_column">
    <div class="movie_place">
      <div class="movie_place_instruction">ここに配信画面を置いて下さい</div>
    </div>
    <div class="introduction_column">
      <div class="introduction_text"></div>
    </div>
  </div>
  <div class="right_column">
    <div class="comment_column">
      <div class="comment_post"></div>
    </div>
    <div class="comment_form">
      
    </div>
  </div>
</div>
