.user_show {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.user_name {
  padding: 30px 0;
  font-size: 50px;
  color: #fff;
}

.edit_btn {
  padding: 10px 30px;
  border: 1px solid #fff;
  margin: 20px 0;
  text-decoration: none;
  color: #fff;
  
}

.user_fav {
  padding: 10px 100px;
  border: 1px solid #fff;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fav_team_title {
  font-size: 20px;
  color: #fff;
}

.fav_team {
  color: #fff;
}

.fav_player_title {
  font-size: 20px;
  color: #fff;
}

.fav_player {
  color: #fff;
}